ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.center {
  text-align: center;
}

#container {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.textUpper {
  text-transform: uppercase;
  font-weight: bold;
}

#generate-button {
  display: block;
  margin: auto;
  font-size: 1.2em;
  padding: 10px 20px;
}

#result {
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
}
