:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-81xl: 100px;

  /* Colors */
  --color-whitesmoke: #f6f6f6;
  --color-crimson: #fe3872;
  --color-silver: #c4c4c4;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.center {
  text-align: center;
  position: relative;
  background-color: var(--color-whitesmoke);
  position: absolute;
  left: 0;
  width: 400px;
  height: 140px;
  
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-crimson);
  font-family: var(--font-roboto);
}


#container {
  margin: auto;
  padding: 10px;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-crimson);
  font-family: var(--font-roboto);
  
}

.textUpper {
  text-transform: uppercase;
  font-weight: bold;
}

#generate-button {
  display: block;
  margin: auto;
  font-size: 1.2em;
  padding: 10px 20px;
}

#result {
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
}

